/* Mukta Font */



#header {
    width: 100%;
    height: 8vh;
   
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#header ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#header li {
    margin: 0 35px;
}

#header img {
    width: 5vh;
    height: 5vh;
}

#body {
    background-color: #FFFDD0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Mukta', sans-serif;
}

#body #headshot {
    border-radius: 30px;
    width: 30%;
}