#intro h2{
    color: red;
}

#intro h3{
    color: blue;
}

#intro h4{
    color: green;
}

#intro h5{
    color: hotpink;
}

#interestingUnique {
    color: orange;
}

#header {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#header ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#header li {
    margin: 0 35px;
}

#header img {
    width: 6.5vh;
    height: 6.5vh;
}

#body {
    background-color: #FFFDD0;
    margin: 0;
    padding: 0;
}